<div class="navbar-lewagon">
  <p> <%= link_to 'Mister Cocktail' , root_path, class:"nav-title"  %> <p>
</div>

<div class="banner" >
  <div class="text-center pb-5">
    <h1 id="index-title"> Cocktails </h1>
    <%= link_to "Add", new_cocktail_path, class: 'btn btn-warning' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-sm-6 col-lg-3 my-3">
        <% if c.photo.attached? %>
          <%= link_to cocktail_path(c) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= cl_image_path c.photo.key, height: 250 %>)">
             <%= c.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
